img {
	width: 100%;
}

h4, .h4 {
	margin-top: 0;
}

/*estilos principales */

body {
	background-color:#666;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.container {
	background-color:#f0d3af;
	max-width:970px;
}

p{
	font-size:14px;
	color:#333;
}

a{
	color:#770d0d;
}

a:hover{
	color:#333;
}

a.secundaria{ 
	color:#333;
}

a.secundaria:hover{ 
	color:#770d0d;
}

h1, h2, h3, h4, h5, h6 {
	font-family:"Times New Roman", Times, serif;}

h1 {
	font-size:36px;
	color:#333;
	font-weight:bold;
}

h2{
	font-size:30px;
	color:#333;
	font-weight:bold;
}

h3{
	font-size:24px;
	color:#333;
	margin-top:0px;
	font-weight:bold;
}

h4{
	font-size:12px;
	color:#333;
}

hr{
	border-top:1px solid #999;
}
/*estilos para la cabecera*/

.redes-sociales{
	display:block;
	background-color:;
	height:50px;
	width:100%;
	padding-left:0px;
}

.redes-sociales li{
	display:block;
	float:left;
	margin-top:15px;
	margin-right:5px;
}
a.boton1 , a.boton2 , a.boton3 , a.boton4 , a.boton5 , a.boton6{
	display:block;
	float:left;
	background-image: url('images/redessociales.png');
}

a.boton1{
	width:14px;
	height:16px;
}

a.boton2{
	width:16px;
	height:16px;
	background-position:-15px;
}

a.boton3{
	width:19px;
	height:16px;
	background-position:-32px;
}

a.boton4{
	width:15px;
	height:16px;
	background-position:-52px;
}

a.boton5{
	width:16px;
	height:16px;
	background-position:-68px;
}

a.boton6{
	width:16px;
	height:16px;
	background-position:-84px;
}

span {
	display:none;
}


.login a{
	height:50px;
	background-color:;
	color:#333;
	margin-left:16px;
	font-weight:bold;
	font-size:12px;
}

.cabecera {
	background-color:;
}

.navbar-brand {
	display:block;
	background-image:url('images/logo_gestion.png');
	background-repeat:no-repeat;
	background-size:100%;
	width:100%;
	max-width:476px;
	min-width:366px;
	height:65px;
}

.caja-fecha-buscar{
	width:280px;
}

.hora-fecha{
	font-size:12px;
	margin-left:16px;
}
/*estilos para el menu*/


.menu-gestion {
	background-color:#770d0d;
	font-size:12px;
	font-weight:regular;
	letter-spacing:-0.1em;
}

.menu-gestion ul{
	margin:2px 0 4px 0;
}

.menu-gestion ul li{
	margin-right:2px;
	background-color:#ffdfbb;
}

.menu-gestion ul li a{
	padding-top:5px;
	padding-bottom:5px;
}

li .active{
	margin-right:2px;
	background-color:#ffdfbb;
}

.navbar {
	min-height:35px;
	}
/* estilos contenido */

.noticia{
	background-color:#fff4e6;
}

.noticia h1{
	color:#770d0d;
}

.noticia img{
	margin-bottom:8px;
}

.resaltar{
	border:2px solid #591313;
	background-color:#770d0d;
	padding:15px;
	font-size:24px;
	color:#ffffff;
	text-align:center;
}

.nota-foto{
	display:block;
	width:auto;
	height:20px;
}

/* estilos sidebar */

.titulos-sidebar{
	border:2px solid #591313;
	background-color:#770d0d;
	padding:15px;
	font-size:20px;
	color:#ffffff;
	text-align:center;
}

/* estilos pie */

.visite p{
	margin-top:16px;
	font-size:13px;
}